
/* CSS For the Layer Selector box */

.layer_selector {
                background: #fff;
                border-radius: 4px;
                padding: 0;
                border: 1px solid #999999;
                width: 248px;
                box-shadow: rgba(0, 0, 0, 0.2) 0 0 4px 2px;
                font: 11px 'Helvetica';
                position: absolute;
                right: 20px;
                top: 20px;
            }
            
.layer_selector > p {
    font-weight: bold;
    color: #666666;
    padding: 14px 14px 12px 14px;
    cursor: pointer;
    border-bottom: 1px solid #999;
}

.layer_selector ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    bottom: 36px;
    border-radius: 4px;
}
.layer_selector li {
    padding: 14px;
    font-size: 11px;
    color: #222;
    cursor: pointer;
}
.layer_selector li:not(:last-child) {
    border-bottom: 1px solid #999;
}
.layer_selector li:hover {
    background-color: #e5e5e5;
    cursor: pointer;
}
.layer_selector li.selected {
    background-color: #A6CEE3;
}

/* -- CSS to Hack Slides and hide the h4/h5 used for storing the show/hide layers --*/
			
.selected_slide h5,h4 {display:none;}