 #slides_container h1 {
    font-family: 'Trebuchet MS', Sans-serif;
	text-transform: capitalize;
    color: #4f9cd7;
    font-size: 25px;
}

#slides_container {
    display: none;
    position: absolute;
    top: 40px;
    left: 40px;
    width: 320px;
    padding: 40px;
    padding-right: 20px;
    background-color: #fff;
    background-color: rgba(255,255,255,0.9);
    z-index: 10;
}

#lselect {
    background: #fff;
    border-radius: 0px;
    padding: 0;
    border: 1px solid #999999;
	opacity: 0.9;
    width: 180px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 4px 2px;
    font: 11px 'Helvetica';
    position: absolute;
    right: 20px;
    top: 40px;
}

#.lselect {
    padding: 0;
    margin: 0;
    list-style-type: none;
    bottom: 36px;
    border-radius: 4px;
}
